body {
	font-family: arial, sans-serif;
}
.button {
	width: 75px;
	height: 35px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: blue;
	border-color: transparent;
	border-radius: 7px;
	cursor: pointer;
	margin: 10px;
}